<div class="container">
    <div class="row">
        <div>
            <img src="../../../assets/yo.jpg" class="img-fluid">
        </div>
        <div> 
            <p>ADRIAN RAPPA</p>
            <p>FULL STACK DEVELOPER</p>
        </div>
        <div>
            <span>
                <h1>Acerca de Mi</h1>
                <p>Amplia experiencia en IT y Sistemas, orientado a resultados y cumplimiento de objetivos, con amplia trayectoria en empresas multinacionales y nacionales de primer nivel, con áreas de Sistemas con un alto grado de complejidad tecnológica. Interrelación con las distintas áreas: Comerciales, Administración, Finanzas y los demás sectores de la empresa.
                    Busco mejora permanente del servicio al usuario, conociendo y satisfaciendo sus necesidades.
                    Elaborar, implementar y gestionar proyectos tecnológicos para lograr un uso eficiente de los procesos de la compañía y mejorar la productividad y comunicación entre los usuarios.
                    Asesorar y evaluar a la empresa en la admisión de nuevas tecnologías con el fin de lograr mejorar la rentabilidad.
                    Analizar e implementar mejoras en cuanto a herramientas y tecnologías para agregar rendimiento y productividad al negocio</p>
            </span>
        </div>
    </div>
</div>