.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*Estilo de las fotos de perfil*/
@media (min-width: 576px) {
        #Fotodeperfil{
            position: absolute;
            width: 15%;
            border: radius 1px;
            box-shadow: 3px 3px 3px grey;
        }
    }
/* etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 20%;
    margin-left: 10px;
}