<div class="row">
    <h1>Proyectos</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 hoja1">
                <h1>Pagina web</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nobis recusandae voluptatibus voluptate dolor. Id optio dolores eius, consequatur quam delectus sapiente molestias obcaecati, dolor sit doloribus modi, sed a!</p>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 hoja2">
                <img src="../../../assets/pagina.png" alt="">   
            </div>
            </div>
        </div>

</div>
