<div class="row">
    <h1>Proyecto</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 hoja1">
                <h2>Pagina web</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nobis recusandae voluptatibus voluptate dolor. Id optio dolores eius, consequatur quam delectus sapiente molestias obcaecati, dolor sit doloribus modi, sed a!</p>
            <div class="col-sm-12 col-md-2 col-lg-2 offset-md-1 offset-lg-1 hoja2">
                <img src="../../../assets/pagina.png" class="img-fluid img-proyecto">   
            </div>
            </div>
        </div>
</div>
