<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Coordinador de TIC</h1> - <h3>(Ago. de 2018 - actualidad)</h3>
            </li>
            <p>Elaborar, implementar y gestionar proyectos tecnológicos necesarios para el funcionamiento de la concesión vial, obras y organismos de control.
            Evaluar, analizar, implementar y asesorar, a la empresa en la admisión de nuevas tecnologías.
            Responsable por la dirección, planeamiento estratégico y operación informática y tecnológica de la Concesión Vial.</p>
        </ul>
        <ul>
            <li>
                <h1>Supervisor de IT</h1> - <h3>(ago. de 2011 - oct. de 2018)</h3>
            </li>
            <p>Administrar la inversión en TIC; las personas y los servicios prestados por terceros en relación a TI; el sistema de mejora continua del servicio y los proyectos; los cambios en la infraestructura y aplicaciones en producción.
            Monitorear y evaluar el desempeño y el control interno de TIC</p>
        </ul>
    </div>

</div>